<!-- Если вам нужно внести изменения в общую структуру или дизайн сайта, такие как шапка, футер, боковая панель и т.д., редактируйте "default.html". -->
<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Your name goes here">
    <meta name="copyright" content="Maybe consider a Creative Commons license">
    <link rel="stylesheet" href="{{page.root}}css/foundation.css">
    <style>pre > code { border: 0 }</style>
    <link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
    <link rel="stylesheet" href="{{page.root}}css/coderay.css">
    <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
    <script src="{{page.root}}js/vendor/modernizr.js"></script>
    <script src="{{page.root}}js/toc.js"></script>
    <!-- Подключение MathJax для работы формул LaTeX -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

<!-- Навигационная панель -->

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="{{page.root}}">{{site.title}}</a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</nav>
<!-- Конец навигационной панели -->

<!-- Содержание главной страницы и боковая панель -->

<div class="row">

    <!-- Основное содержание блога -->

    <div class="large-9 columns" role="content">

        {{ content }}

    </div>

    <!-- Конец основного содержания блога -->

    <!-- Боковая панель -->

    <aside class="large-3 columns">

        <h4>Блог</h4>
        <ul id="posts" class="posts nav">
            {% for post in site.posts limit: 10 %}
            <li><a href="{{ post.url | prepend:site.baseurl }}">{{ post.navtitle }}</a></li>
            {% endfor %}
        </ul>

        <div class="panel">
            <h5>Информация по блогу</h5>
            <p>Блог в процессе разработки. <br> Статьи в блоге демонстрируют основные подходы по работе с AsciiDoc на конкретных примерах.</p>
        </div>

    </aside>

    <!-- Конец боковой панели -->

</div>

<!-- End Main Content and Sidebar -->

<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr>
        <div class="row">
            <div class="large-12 columns">
                <p>Автор: <a href="https://github.com/Koshlensky">Nick Koshlensky</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/foundation.min.js"></script>
<script>
$(document).foundation();
var doc = document.documentElement;
doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>